<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   
    <section id=navbar>
        <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">catchup weather</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/weather">weather</a>
          </li>
    
      </div>
    </nav>
      </section> 
      <!--team-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 left">
              <img  class="about-img" src="imagese/about.jpg" alt="">
          </div>
          <div class="col-sm-6  right">
            <h2>CODEXO</h2>
            <h2>founder and CEO-->sandra michelle</h2>
            <p>hello guys!!!</p>
            <p>we are group of volunteers gathered around to make work easier using API'S,our collaboraters are spread all around the world. if your website needs work to be done easily contact us and we will optimize it using our finest API'S.</p>
            
          </div>
          
        </div>
      </div>
      <!--rating of the website-->
      <section>


        <h1 style="color:white; text-align: center; padding-top: 30px;" >TESTIMONIALS</h1>
        <div class="container-fluid">
        <div class="row">
        
               <div class="col-sm-4">
        
                   <div class="card d-flex mx-auto">
                       <div class="card-image"> <img class="img-fluid d-flex mx-auto" src="https://i.imgur.com/3TlwnLF.jpg"> </div>
                       <div class="card-text">
                           <div class="card-title">hi peeps!</div> it's amazing to look back what CODEXO has offered and is continuing to offer and i am pretty optimistic about the fact that the tutorials is gona grow bigger and yeah a lot bigger!!!
                       </div>
                       <div class="footer"> <span id="name">Micheal Smith<br></span> <span id="position">CEO of <a href="https://www.google.com/">Google.com</a></span> </div>
                   </div>
               </div>
               <div class="col-sm-4">
                   <div class="card d-flex mx-auto">
                       <div class="card-image"> <img class="img-fluid d-flex mx-auto" src="https://i.imgur.com/Uz4FjGZ.jpg"> </div>
                       <div class="card-text">
                           <div class="card-title">hey guys!</div>i am totally condoned about the fact that CODEXO is one of best companies ,all the best and carry on the great work ahead
                       </div>
                       <div class="footer"> <span id="name">Angellia Miller<br></span> <span id="position">CEO of <a href="https://www.facebook.com/">Facebook.com</a></span> </div>
                   </div>
               </div>
               <div class="col-sm-4">
                    <div class="card d-flex mx-auto ">
                        <div class="card-image"> <img class="img-fluid d-flex mx-auto" src="https://i.imgur.com/udGH5tO.jpg"> </div>
                        <div class="card-text">
                            <div class="card-title">hello guys!</div> CODEXO have grown a lot over the years and is continuing to provide excellent services to students ,the quality of academics here is amazing .Looking forward to collaborate!!
                        </div>
                        <div class="footer"> <span id="name">Christina Williams<br></span> <span id="position">UX Designer at <a href="https://www.youtube.com/">Youtube.com</a></span> </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
       <div class="rating">
         
        <h1 style="color: white;filter: opacity(0.8);">Times daily</h1>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span  class="fa fa-star unchecked"></span>
<span class="fa fa-star unchecked"></span>
</div>
<div class="rating">
    <h1 style="color: white;filter: opacity(0.8);">Techno solutions</h1>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span  class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
</div>
<div class="rating">
    <h1 style="color: white;filter: opacity(0.8);">fortune tech</h1>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span  class="fa fa-star checked"></span>
<span class="fa fa-star unchecked"></span>
</div>

      <div class="attribute">
        <p><i class="fas fa-snowflake"></i>made with love by sanjucta choudhury<i class="fas fa-snowflake"></i></p>
        <p>july 2021</p>
      </div>